@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
    --light-background: theme(colors.gray.50); /* Use Tailwind's gray-50 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --dark-background: theme(colors.gray.800); /* Use Tailwind's gray-800 */
  }
}

body {
  color: var(--foreground);
  background-color: var(--light-background); /* Default to gray-50 in light mode */
  font-family: Arial, Helvetica, sans-serif;
}
  
@media (prefers-color-scheme: dark) {
     body {
         background-color: var(--dark-background)
     }
}